{% extends 'cultivo_main/main_head.html' %}

{% block content %}
{% load static %}
<style>
body {
    background: url({% static 'cultivo_main/bb.jpg' %})  50% 50%;   background-size:cover;

}
</style>
<body >
<main>
  <div class="login-wrap" style="height:500px;">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Successfully Uploaded!</label>
        <!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
        <center><h1> <a  href="{% url 'login' %}"> Return Home</a></em></h1></center>


</form>
</form>
            </div></div>





 <marquee><h3>{{message}}</h3></marquee>
  </div>


{% endblock %}


