{% extends 'cultivo_main/main_head.html' %}

{% block content %}
{% load static %}
<style>
body {
    background: url({% static 'cultivo_main/w.jpg' %})  50% 50%;   background-size:cover;

}
</style>
<body >
<main>
  <div class="login-wrap" style="height:500px;">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Upload!</label>
        <!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
       <center><h1><em><h3>Fill the Documents</h3></em></h1></center>

 <form id="form"  action='{% url 'third' %}' method='post'>
        {% csrf_token %}
{{forms5.crop}}
{{forms5.imports}}
{{forms5.exports}}
{{forms5.production}}
{{forms5.imports_mean}}
{{forms5.exports_mean}}
{{forms5.production_mean}}
<input type="submit">
</form>
</form>
            </div></div>





 <marquee><h3>{{message}}</h3></marquee>
  </div>


{% endblock %}


